<ion-header>
  <ion-toolbar>
    <ion-title>APP</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="publicar()" [disabled]="!form.valid">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Bienvenido</h1>
  <form [formGroup]="form">
    <ion-item>
    Usuario:
    <ion-input type='text' formControlName="usuario"></ion-input>
  </ion-item>
  <ion-item>
    Contraseña:
    <ion-input type='password' formControlName="pass"></ion-input>
  </ion-item>
  </form>
</ion-content>
